body{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 100%;
	color:#1F1F1F;
	background:#C2C2A5;
	padding:0;
	margin:0;
	width: 100%;
}
/*
a:link, a:visited, a:active{
	color:#0066CC;	
}
a:hover{
	color:#FF0000;	
}
*/
hr{
	margin:15px 0 10px 0;
	padding:0;
	background:#A7A782;
	color:#A7A782;
	border:0;
	height:1px;	
	display:block;
}
h1{
	margin-top:0;
	font-size:1.5em;	
}
h2{
	color:#1F497D;
	font-size:1.5em;
	font-weight:bold;
}
h2.style1{
	margin:0 0 10px 0;
	padding:0 0 5px 0;
	border-bottom:3px solid #4F81BD;
	color:#1F497D;
	font-size:1.5em;
	font-weight:bold;
	text-align:center;	
}
#sc_title	{
	width: 60%;
	font-size: 1em;
	padding: 17px 0 10px 20px;
	margin: 0;
}
h3{
	font-size:1.4em;	
}
h3.agreement	{
	font-size: 1.1em;
	font-weight: normal;
	padding: 0;
	margin: 0;
	width: 60%;
}
h4{
	font-size:1.1em;
	line-height:1.1em;
	font-weight:bold;
	color:#3F3F3F;
	margin:0 20px;
	padding:5px 0;
	border-bottom:1px dashed #9F9F9F;	
}
.sc_agreement_chase	{
	font-weight: bold;
}
h5{
	font-size:1.1em;
	margin:10px 0 0 0;	
}
#logo{

	padding: 15px 0 0 3em;
	margin:0 0 .2em 0;
	background:#FFFFFF;
}
/*
a.last-article-read, a.last-article-read:link, a.last-article-read:visited, a.last-article-read:hover, a.last-article-read:active{
	font-weight:normal;
	font-size:1em;
	text-decoration:none;
	line-height:2.2em;	
	color:#2D4470;
	background-color:#EFF4FF;
	border-top:1px solid #D9DFEC;
	border-bottom:1px solid #D9DFEC;
	border-left:5px solid #D9DFEC;
	border-right:1px solid #D9DFEC;
	padding:2px 6px 2px 6px;
	margin:-5px 0 0px 0;
	display:inline-block;
}
*/
.bookmark{
	background:url(../images/favorites_16.png) no-repeat center left;
	padding:3px 0 3px 23px;
}
.article-help{
	margin:10px 0px 10px 10px;
	padding:3px 7px;
	background:#EFF4FF;	
	border:1px solid #9BABCF;
	font-size:12px;
	padding-top:6px;
	padding-bottom:6px;	
}
.article-help p{
	font-size:0.8em;
	line-height:1.2em;
	padding:0 0 0 26px;
	margin:0;
	color:#475E8F;
	background:url(../images/help_16_h.png) no-repeat top left;
}
.clear{
	display:block;
	clear:both;
	height:0px;	
	margin:0;
	padding:0;
	line-height:0px;
}
.clear5{
	display:block;
	clear:both;
	height:5px;	
	margin:0;
	padding:0;
	line-height:0px;
}
.clear10{
	display:block;
	clear:both;
	height:10px;	
	margin:0;
	padding:0;
	line-height:0px;
}
.clear15{
	display:block;
	clear:both;
	height:15px;	
	margin:0;
	padding:0;
	line-height:0px;
}
#wrapper{
	width:850px;
	margin:0 auto;
	padding:0;
	background:#FFFFFF;
	border-left:2px solid #A7A782;
	border-right:2px solid #A7A782;
	border-bottom:2px solid #A7A782;
	position: relative;
}
#account-nav ul{
	padding:0;
	margin:0;
}
#account-nav{
	position:absolute;
	top:5px;
	right:10px;
	background:#FFFFFF;
	margin:0;
	padding:0;
	text-align:right;
}
#account-nav ul li{
	margin:0;
	padding:0;	
}
#account-nav div{
	color:#BFBF95;
	word-spacing:3px;	
}

/*
*:first-child+html #logo{
	margin-bottom:-5px;	
}
*/

#top-header{

}
.breadcrumb-trail{
	margin: 0;
	background:#C3CCDF;
	padding:5px 15px;
	font-size:12px;
	font-weight:bold;
	color:#788BAF;	
	border-top:1px solid #8F9FBF;
	border-bottom:1px solid #8F9FBF;
}
.breadcrumb-trail a{
	color:#0066CC;
	text-decoration:none;
}
.breadcrumb-trail a:hover{
	color:#00407F;
	text-decoration:underline;
}
.breadcrumb-trail span{
	padding:0 3px;	
}
#legal{
	width:850px;
	margin:0 auto;
	padding:7px 0;
	font-size:11px;
	color:#6F6F5A;
	text-align:center;
	zoom:1;
}
#content{
	background:#FFFFFF;
	padding:15px 15px 15px 15px;
}
#sc_wrapper	{
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 1em 1em .2em 1em;
	font-size: .9em;
	/* width: 96%; */
}
#sc_wrapper p	{
	width: 60%;
	margin: 1em 0;
	padding: 0;
	padding-left: 1.5em;
}
#sc_wrapper p.text_inputs	{
	line-height: 1.5em;
}
#sc_wrapper ol	{
	width: 65%;
	background-color: #fff;
	margin-left: 3em;
	border: 1px solid #ccc;
	padding: 1em 1em 1em 3em;
}
.top_needs_space	{
}
.sc_violet_strong	{
	color: #336699;
	font-weight: bold;
}
.error_message	{
	color: red;
	font-weight: normal;
	margin: 0;
	padding: 0 0 0 3em;
}
#logout_link	{
	float: right;
	color: #336699;
	font-weight: normal;
	text-decoration: none;
}

#logout_link:hover	{
	text-decoration: underline;
}
#logout_link:visited	{
	color: #336699;
}
.sc_bread_crumb_text {
	color: #000;
}

/* STYLES RE-USED FROM ELEARING-ADDON */

p.form	{
	margin: 0;
	padding-top: .5em;
}

#email_settings_wrapper	{
	height: 21em;
	padding-top: .5em;
	border: 1px solid #ccc;
	margin-top: 1em;
	margin-left: 3em;
	margin-right: 10em;
}

#email_settings	{
	padding-left: 2em;
}

.sc_hidden	{
	display: none;
}

.sc_visible	{
	display: block;
}

/* BUTTON STYLES */
.button_wrapper	{
	float: left;
	padding: 12px;
}

.fg-button { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
}

#sc_wrapper #cc_course_admins #org_admin_text {
	padding-left: 3em;
	font-size: 90%;
	width: 80%;
}

.du_hidden	{
	display: none;
}

.du_visible	{
	display: block;
}

.indent	{
	padding-left: 1.5em;
}

.checkmark	{
	display: none;
	margin: 0;
	padding: 0;
}

p#email_override_address_wrapper, p#email_override_address_wrapper input	{
	font-size: 95%;
}

#save_email_override_address	{
	margin-left: 1em;
	font-size: 95%;
}

#sc_wrapper p.sc_instructions	{
	width: 95%;
	padding-top: 1em;
	font-size: .96em;
}
#sc_wrapper #cc_course_admins {
	margin: 0;
	padding: 0;
}
#sc_wrapper #have_been_saved {
	float: left;
	display: none;
	margin: 14px 0 0 0;
   	padding: 0;
    line-height: 1.4em;
}

#update_button {
 font-size: .9em;
 outline: none;	
}

#sc_wrapper p#contact	{
	width: 100%;
	text-align: center;
	font-size: .85em;
	margin: 0;
	padding: 2em 0 0 0;
}

#sc_wrapper p#contact a	{
	color: #336699;
	text-decoration: none;
}