<h3 class="agreement">Organization: <span class="sc_violet_strong"><%=h @user.account.name %></span></h3>
<p>Welcome <%= @user.first_name %>,</p>
<p>The E-mail notification option automatically sends a message to the student's E-mail address in their user profile on the following optional conditions:</p>
<ol>
<li>When a learning plan is assigned to the student.</li>
<li>When an unfinished course in a learning plan has a due date that is 30 days away.</li>
<li>When an unfinished course in a learning plan has a due date that is 15 days away.</li>
<li>When an unfinished course in a learning plan has a due date that is 5 days away.</li>
<li>When an unfinished course in a learning plan has a due date that is 1 day away.</li>
</ol>
<p>The E-mail messages will include the name of the student, the course title(s), due date(s) and a link to log in and complete the training. The messages will include your organization name as well as the Digital University name and come from "notification@digitu.com" (please ask your IT department to "whitelist" this address).</p>
<p>The administrator can choose any or all of these E-mail notification triggers and E-mail will go to the student's email address on the day that the condition is met. The administrator can also choose to receive a copy of these E-mail messages if they wish.</p>
<p>It is important to note that you must have your employee's email addresses in their user profile in order for this to work. If you do not, they will not receive any messages.</p>
<p class="sc_agreement_chase">I have carefully read the feature description above and would like to continue setting up this feature now.</p>
<% form_tag :controller => params[:controller], :action => params[:action] do %>
<p>
<%= radio_button_tag "agree", "1", true %>
<%= label_tag "agree_value_false", "Yes, setup now" %>
<br/>
<%= radio_button_tag "agree", "0", false %>
<%= label_tag "agree_value_true", "No, I don’t want to set this up now" %>
</p>
<p>
<%= submit_tag "Continue" %>
</p>
<% end %>