<h3 class="agreement">Organization: <span class="sc_violet_strong"><%=h @user.account.name %></span></h3>
<p class="sc_instructions">Configure your organization's email notification settings then save your changes by clicking the Update button below.</p>
<!-- EMAIL SETTINGS -->

<div id="email_settings_wrapper">
<div id="email_settings">
<% form_tag (url = { :controller => params[:controller], :action => params[:action] }, html = { :id => "email_settings_form"}) do -%>

<!-- newly enrolled -->
<p>
<%= check_box_tag "newly_enrolled", value = 1, checked = @em.lp_enroll %>
<%= label_tag "newly_enrolled", "Email Students when enrolled in a learning plan" %>
</p>

<!-- course due 30 days -->
<p>
<%= check_box_tag "course_due_30", value = 1, checked = @em.course_due_30 %>
<%= label_tag "course_due_30", "Email Students when course is due in 30 days" %>
</p>

<!-- course due 15 days -->
<p>
<%= check_box_tag "course_due_15", value = 1, checked = @em.course_due_15 %>
<%= label_tag "course_due_15", "Email Students when course is due in 15 days" %>
</p>
	
<!-- course due 5 days -->
<p>
<%= check_box_tag "course_due_5", value = 1, checked = @em.course_due_5 %>
<%= label_tag "course_due_5", "Email Students when course is due in 5 days" %>
</p>
	
<!-- course due 1 day -->
<p>
<%= check_box_tag "course_due_1", value = 1, checked = @em.course_due_1 %>
<%= label_tag "course_due_1", "Email Students when course is due in 1 day" %>
</p>
<!-- cc course admins -->
<div id="cc_course_admins">
<p>
<%= check_box_tag "cc_org_admin", value = 1, checked = @em.cc_org_admin %>
<%= label_tag "newly_enrolled", "cc your organization's administrator on all emails" %>
</p>
<p id="org_admin_text">
<%= label_tag "org_admin", "administrator's email: " %>
<%= text_field_tag "org_admin", value = @em.org_admin, :size => 40 %>
</p>
</div>
<div class="button_wrapper">
<a href="#" id="update_button">Update</a>
<!-- class="ui-state-default ui-corner-all fg-button" -->
</div>
<div id="have_been_saved">Your settings have been saved</div>
<% end -%>
</div> <!-- email_settings -->
</div> <!-- email_settings_wrapper -->


<% content_for :content_in_head do %>
	<% javascript_tag do -%>
		
		$("document").ready( function()	{
			
			$("#update_button").button();
			
			// run this initially to set correct state
			toggle_org_admin_text_field();
			
			// ***************************************************************************************
			// An event handler for our checkboxes being changed, the update button becomes accessible
			// ***************************************************************************************
			$("#email_settings input").change( function() {
				
        // if the org_admin_text button is clicked make the org_admin_text text box visible/invisible
				if ($(this).attr('id') == "cc_org_admin")	{
					toggle_org_admin_text_field();
				}
				
			});
			
			// ***************************************************************************************
			// click handler for our update button
			// ***************************************************************************************
			$("#update_button").click( function() {
					
					var newly_enrolled = $("#newly_enrolled").attr('checked') ? 1 : 0;
					var course_due_30 = $("#course_due_30").attr('checked') ? 1 : 0;
					var course_due_15 = $("#course_due_15").attr('checked') ? 1 : 0;
					var course_due_5 = $("#course_due_5").attr('checked') ? 1 : 0;
					var course_due_1 = $("#course_due_1").attr('checked') ? 1 : 0; 
					var cc_org_admin = $("#cc_org_admin").attr('checked') ? 1 : 0;
					var org_admin = $("#org_admin").attr('value');  
					
					var _url = "<%= url_for :controller => params[:controller], :action => "update_email_settings" %>?id=" + <%= @user.account.id %> + "&lp_enroll=" + newly_enrolled  + "&course_due_30=" + course_due_30 + "&course_due_15=" + course_due_15 + "&course_due_5=" + course_due_5 + "&course_due_1=" + course_due_1 + "&cc_org_admin=" + cc_org_admin + "&org_admin=" + org_admin;
					$.ajax({	url: _url,
								method: "GET",
								dataType: "json",
								success: function () {
									// set state up update button
									// $("#update_button").addClass("ui-state-disabled");
									$("#have_been_saved").fadeIn('slow').fadeTo(2000, 1).fadeOut('slow');
								}
					});
					return false;															
			});
		});
		
		function toggle_org_admin_text_field()	{
			if ($("#cc_org_admin").attr('checked'))	{
				// show the text box associated with the org_admin
				$("#org_admin_text").removeClass("du_hidden");
				$("#org_admin_text").addClass("du_visible");
			}
			else {
				// hide the text box associated with the org_admin
				$("#org_admin_text").removeClass("du_visible");
				$("#org_admin_text").addClass("du_hidden");
			}
		}
		
	<% end -%>
<% end %>
