<p class="top_needs_space">The PlusLMS E-mail notification feature can alert your employees when training is assigned and when there are upcoming due dates for unfinished courses.</p>
<p>To activate and configure email settings for your organization, please login with your Administrator username and password.</p>
<% form_tag :controller => :home, :action => :login do %>
<p class="sc_violet_strong text_inputs"><%= label_tag "username" %><br/>
<%= text_field_tag "username", @username %></p>
<p class="sc_violet_strong text_inputs"><%= label_tag "password" %><br/>
<%= password_field_tag "password", @password %></p>
<p><%= submit_tag "Login" %>
<% unless @message.blank? -%>
<span class="error_message"><%= @message %></p>
<%- end -%>
</p>
<% end %>


