<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<title>PlusLMS</title>
<%= stylesheet_link_tag 'notify' %>
<%= stylesheet_link_tag 'eggplant/jquery-ui-1.8.custom' %>
<%= javascript_include_tag 'jquery-1.4.2.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.custom.min' %>
<%= yield :content_in_head %>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />	
</head>
<body>
<div id="wrapper">

	<h2 id="sc_title">PlusLMS University Administration</h2>
	<div class="breadcrumb-trail"><span class="sc_bread_crumb_text">Email Notification</span></div>
	<div id="content">
	<div id="sc_wrapper">
	<%- unless params[:controller] == "home" and params[:action] == "login" -%>
	<%= link_to "Logout", {:controller => :home, :action => :logout}, {:id => "logout_link"} %>
	<%- end -%>
	<%= yield %>
	<p id="contact">Need help? Call 1-888-201-4394 or email <%= mail_to "support@digitu.com" -%></p>
	</div> <!-- end sc_wrapper -->
	</div> <!-- end content -->
</div> <!-- end wrapper -->
	<div id="legal">&copy <%= Date.today.year -%> Digital University, Inc. - All rights reserved - <i>The premier training solution for financial professionals.</i></div> 
<% javascript_tag do %>
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
<% end %>
<% javascript_tag do %>
try {
var pageTracker = _gat._getTracker("UA-12826950-1");
pageTracker._setDomainName(".pluslms.com");
pageTracker._trackPageview();
} catch(err) {}
<% end %>
	</body>
		
